@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header__container {
  margin: 36px 160px 127px 160px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.header__container .header__nav {
  padding-right: 490px;
}
.header__container .header__nav .header__ul {
  list-style: none;
  display: flex;
  gap: 56px;
}
.header__container .header__nav .header__ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #2E2F38;
}
.header__container .header__nav .header__ul li a:hover {
  color: #FA504D;
}
.header__container .header__aside-ul {
  display: flex;
  gap: 37px;
  list-style: none;
}
.header__container .header__aside-ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #FFFFFF;
}
.header__container .header__aside-ul li a.red {
  background-color: #FA504D;
  padding: 15.5px 39px;
}

body {
  background-image: url("../img/background_nft.jpg");
  background-position: right top;
  background-repeat: no-repeat;
}

.main__container {
  margin-left: 160px;
  margin-right: 160px;
}
.main__container .hero {
  position: relative;
  margin-bottom: 78px;
}
.main__container .hero__h1 {
  font-size: 85px;
  font-family: "Belgrano", serif;
  font-weight: 500;
  line-height: 96px;
  max-width: 930px;
  margin-bottom: 18px;
  color: #2E2F38;
}
.main__container .hero__circle {
  position: absolute;
  top: 14px;
  left: 150px;
  max-width: 250px;
}
.main__container .hero__p {
  font-size: 28px;
  color: #8E8E8E;
  margin-bottom: 42px;
}
.main__container .hero__p span {
  text-decoration: underline solid #FA504D 15%;
}
.main__container .hero .hero__butttons {
  display: flex;
  column-gap: 32px;
}
.main__container .hero .hero__butttons .hero__buttons-left button {
  display: inline-block;
  background-color: #FA504D;
  color: #FFFFFF;
  padding: 16.5px 86.5px;
  border: 0px;
  font-size: 18px;
}
.main__container .hero .hero__butttons .hero__buttons-left button:hover {
  transform: scale(1.1);
  background-color: #2E2F38;
  cursor: pointer;
}
.main__container .hero .hero__butttons .hero__buttons-right {
  display: flex;
  column-gap: 6px;
  align-items: center;
}
.main__container .hero .hero__butttons .hero__buttons-right a {
  min-width: 90px;
  color: #2E2F38;
}
.main__container .hero .hero__butttons .hero__buttons-right a:hover {
  cursor: pointer;
  color: #FA504D;
}
.main__container .feature__content {
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "head head" "left right";
  margin-bottom: 57px;
}
.main__container .feature__content-h3 {
  grid-area: head;
  font-size: 32px;
  font-weight: 400;
  font-family: "Belgrano", serif;
  margin-bottom: 24px;
  color: #2E2F38;
}
.main__container .feature__content-img1 {
  grid-area: left;
  max-width: 400px;
}
.main__container .feature__content-img1:hover {
  transform: scale(1.1);
}
.main__container .feature__content-img2 {
  grid-area: right;
  max-width: 400px;
}
.main__container .feature__content-img2:hover {
  transform: scale(1.1);
}

.container__nft {
  position: relative;
  display: inline-block;
}
.container__nft .container__nft__p-background {
  font-size: 340px;
  color: #373740;
  font-family: "Belgrano", serif;
  position: absolute;
  rotate: 90deg;
  top: 200px;
  left: 175px;
  font-weight: 400;
}
.container__nft .container__nft-img {
  position: absolute;
  bottom: 260px;
  right: 110px;
}
.container__nft .container__nft-description {
  position: absolute;
  top: 500px;
  background-color: #FFFFFF;
  padding: 32px;
}
.container__nft .container__nft-description .description__row1 {
  display: flex;
  align-items: center;
}
.container__nft .container__nft-description .description__row1 .description__row1-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: left;
  column-gap: 220px;
  padding-left: 16px;
}
.container__nft .container__nft-description .description__row1 .description__row1-grid p {
  font-size: 18px;
  color: #8E8E8E;
}
.container__nft .container__nft-description .description__row1 .description__row1-grid p.bold {
  font-weight: 600;
  font-size: 24px;
  color: #2E2F38;
}
.container__nft .container__nft-description .description__row2 {
  border-top: 1px solid black;
  padding-top: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__nft .container__nft-description .description__row2 a:nth-child(1) {
  background-color: #FA504D;
  padding: 14px 105.5px;
  color: #FFFFFF;
  text-decoration: none;
}
.container__nft .container__nft-description .description__row2 a:nth-child(1):hover {
  background-color: #2E2F38;
  cursor: pointer;
}
.container__nft .container__nft-description .description__row2 a:nth-child(2) {
  text-decoration: none;
  font-weight: 600;
  color: #FA504D;
  padding-right: 80px;
  font-size: 18px;
}
.container__nft .container__nft-description .description__row2 a:nth-child(2):hover {
  color: #2E2F38;
  cursor: pointer;
}
.container__nft .container__nft-numbers {
  position: absolute;
  top: 605px;
  right: 148px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 72px;
}
.container__nft .container__nft-numbers div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container__nft .container__nft-numbers div P {
  color: #FFFFFF;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
}
.container__nft .container__nft-numbers p span {
  color: #FA504D;
  font-weight: 600;
  font-size: 36px;
}

.container__main__grid {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
}/*# sourceMappingURL=style.css.map */