.header__container {
    margin: 36px 160px 127px 160px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .header__nav {
        padding-right: 490px;

        .header__ul {
            @include formart_list();

            li a {
                text-decoration: none;
                font-size: 18px;
                color: $black;

                &:hover {
                    color: $red;
                }

                &:active {
                    color: $black;
                }
            }
        }
    }

    .header__aside {
        &-ul {
            display: flex;
            gap: 37px;
            list-style: none;

            li {
                a {
                    color: white;
                    text-decoration: none;

                    &.red {
                        background-color: $red;
                        padding: 15.5px 39px;
                        color: white;
                        text-decoration: none;

                        &:hover {
                            background-color: black;
                            color: white;

                        }

                        &:active {
                            color: white;
                            background-color: $red;

                        }

                    }
                }


            }
        }
    }


}