.main__container{
    margin-left: 160px;
    margin-right: 160px;
    .hero{
        position: relative;
        margin-bottom: 78px;
        &__h1{
            font-size: 65px;
            font-family: $second-font;
            font-weight: 500;
            line-height: 96px;
            max-width: 930px;
            margin-bottom: 18px;
            color: $black;
        }
        &__circle{
            position: absolute;
            top: 12px;
            left: 130px;
            max-width: 245px;

        }
        &__p{
            font-size: 28px;
            color: $grey;
            margin-bottom: 42px;
            span{
                text-decoration: underline solid $red 15%
            }
        }
        .hero__butttons{
            display: flex;
            column-gap: 32px;
            .hero__buttons-left button{
                display: inline-block;
                background-color: red;
                color: #FFFFFF;
                padding: 16.5px 86.5px;
                border: 0px;
                font-size: 18px;
                &:hover{
                    transform: scale(1.1);
                    background-color: $black;
                    cursor: pointer;
                }


            }
            .hero__buttons-right{
                display: flex;
                column-gap: 6px;
                align-items: center;
                a {
                    min-width: 90px;
                    color: $black;
                    &:hover{
                        cursor: pointer;
                        color: $red;
                    }
                }


            }
        }


    }
    .feature__content{
        max-width: 900px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "head head"
                             "left right";
        margin-bottom: 57px;
        &-h3{
            grid-area: head;
            font-size: 32px;
            font-weight: 400;
            font-family: $second-font;
            margin-bottom: 24px;

        }
        &-img1{
            grid-area: left;
            max-width: 400px;
        }
        &-img2{
            grid-area: right;
            max-width: 400px;

        }
    }

}

